/* Прописываем селектор боди и записываем в него семейство шрифтов которые используется в основном, также выясняем какой в оновном размер шрифта */

body {
    margin: 0;
    /*Устанавливает величину отступа от каждого края элемента. Отступом является пространство от границы текущего элемента до внутренней границы его родительского элемента 
    по умолчанию отступы всегда 8 пикселей */
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #6c7279;
    background-color: #fff;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    /* Алгоритм подсчёта размера блоков с учётом отступов и границ  */
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0 0 10px 0;
}


/*--------Container--------
Создадим основной контейнер и пропишем для него основные стили  */

.container {
    width: 100%;
    max-width: 1170px;
    /*прописали что ширина контейнера 100% но максимальная его ширина 1170 пикселей*/
    margin: 0 auto;
    /* выравняли его по центру сверху и с низу по нулям слева и с права автоматом по центру*/
}


/*
----------Header---------
сдесь мы будем стелизовать нашу шапку (наш хедер)
*/

.header {
    width: 100%;
    height: 80px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header__logo {
    width: 40%;
    height: 40%;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid #505369;
    padding: 5px 0;
    align-items: center;
    /*выравняли все элементы по центру */
}


/*---- Блок навигации ----*/

.nav {
    display: flex;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    margin-right: 10px;
}

.navlink {
    margin-left: 50px;
    color: #fff;
    text-decoration: none;
    opacity: .75;
    transition: opacity .1s linear;
}

.navlink:first-child {
    margin-left: 0;
}

.navlink:hover {
    opacity: 1;
}


/*---- Блок intro ----*/

.intro_inner {
    width: 100%;
    max-width: 970px;

    justify-content: center;
    margin: 0 auto;
}

.intro {
    height: 600px;
    min-height: 80%;
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*height: 550px;*/
    background: #31344e url(img/introbg.jpg) center no-repeat;
}

.intro_title {
    margin: 0 0 20px 0;
    /*отступ внешний снизу*/
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    line-height: 1.1;
    /*Отступ*/
    color: #fff;
    font-weight: 700;
    text-align: center;
    /*выравняли по центру */
}

.IntroSubTitle {
    margin: 0 0 20px 0;
    /*отступ внешний снизу*/
    font-size: 25px;
    font-weight: 400;
    color: darkslategray;
    line-height: 1.5;
    /*Отступ*/
    text-align: center;
    /*выравняли по центру */
}


/*---- Кнопка ----*/

.btn {
    display: inline-block;
    /*Чтобы можно было задавать отступы*/
    vertical-align: top;
    padding: 14px 40px;
    border-radius: 10px;
    position: absolute;
    left: 40%;
    height: auto;
    font-size: 13px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    transition: background .5s linear;
}

.btn--red {
    background-color: #e84545;
}

.btn--red:hover {
    background-color: #b72a2a;
}


/*---- Коробки с иконками ----*/

.box {
    display: flex;
    flex-wrap: wrap;
    /*перенос елементов*/
    margin: 35px 0;
    /*Сделали отступ сверху и снизу*/
}

.boxitem {
    width: 33.33333%;
    margin-bottom: 35px;
    text-align: center;
    padding: 0 10px;
}

.boxicon {
    margin-bottom: 10px;
    width: 60px;
}

.box_title {
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 700;
    color: black;
    text-transform: uppercase;
}

.box_text {
    font-size: 14px;
    /* шрифт */
    line-height: 1.5;
    color: darkslateblue;
}


/*---- Низ с двумя контейнерами ----*/
.footer {
    padding: 20px 0; /*отступ сверзу и снизу*/
    background-image: url(img/downfon.jpg) /*фон*/

}

.footer_inner {
    display: flex;
    flex-wrap: wrap;
}

.footer_block {
    width: 50%;
    text-align: center;
}

.footer_title {
    color: aliceblue;
    text-transform: uppercase;
    padding: 10px 0;
}

.faddress {
    color: #e8e8e8;
    font-size: 14px;
    font-weight: 700;

}

.footer_icon {
    margin: 10px 20px 10px 10px;
    width: 60px;
}


.viewButton {
    background: -moz-linear-gradient(#D0ECF4, #5BC9E1, #D0ECF4);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#D0ECF4), to(#D0ECF4), color-stop(0.5, #5BC9E1));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00BBD6', endColorstr='#EBFFFF');
    padding: 3px 7px;
    color: #333;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #666;
}

/*---- Стиль таблицы ----*/
.scroll-table-body {
    height: 300px;
    overflow-x: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
}

.col1 {
    width: 5%; /* Ширина ячейки */
}

.col2 {
    width: 30%; /* Ширина ячейки */
}

.col3 {
    width: 20%; /* Ширина ячейки */
}

.col4 {
    width: 20%; /* Ширина ячейки */
}

.col5 {
    width: 17%; /* Ширина ячейки */
}

.col6 {
    width: 8%; /* Ширина ячейки */
}

.scroll-table table {
    width: 100%;
    table-layout: fixed;
    border: none;
}

.scroll-table thead th {
    font-weight: bold;
    text-align: center;
    border: none;
    padding: 10px 15px;
    background: #d8d8d8;
    font-size: 10px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.scroll-table tbody td {
    text-align: left;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 10px 15px;
    font-size: 10px;
    vertical-align: top;
}

.scroll-table tbody tr:nth-child(even) {
    background: #f3f3f3;
}

/* Стили для скролла */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}


/*КНОПКА*/
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #262626;
}

.btnflip {
    position: absolute;
    /*top: 90%;*/
    /*left: 90%;*/
    transform: translate(-50%, -50%);
    width: 75px;
    height: 23px;
    text-align: center;
    transform-style: preserve-3d;
    perspective: 500px;
    transform-origin: center center;
}

.btnflip-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 20px;
    font-size: 15px;
    background-color: rgba(255, 255, 255, .05);
    transform-style: preserve-3d;
    backface-visibility: hidden;
    border-radius: 30px;
    text-transform: uppercase;
    color: #fff;
    transition: 1s;
}

.btnflip-item.btnflip__front {
    transform: rotateX(0deg) translateZ(20px);
}

.btnflip:hover .btnflip-item.btnflip__front {
    transform: rotateX(-180deg) translateZ(20px);
}

.btnflip-item.btnflip__back {
    transform: rotateX(180deg) translateZ(20px);
}

.btnflip:hover .btnflip-item.btnflip__back {
    transform: rotateX(0deg) translateZ(20px);
}

.btnflip-item.btnflip__center {
    background: linear-gradient(to left, #c31a5b, #7129bd);
}

.btnflip-item.btnflip__center::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, #ffdd1f, #c31a5b);
    border-radius: 30px;
    transform: translateZ(-1px);
}

.btnflip:hover .btnflip-item.btnflip__center {
    transform: rotateX(-180deg);
}

.block-left{width:50%;overflow:auto;float:left;}
.block-right{width:50%;overflow:auto;}


/* стилизация содержимого страницы */
body {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #292b2c;
    background-color: #fff;
}

/* свойства модального окна по умолчанию */
.modal {
    position: fixed; /* фиксированное положение */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5); /* цвет фона */
    z-index: 1050;
    opacity: 0; /* по умолчанию модальное окно прозрачно */
    -webkit-transition: opacity 200ms ease-in;
    -moz-transition: opacity 200ms ease-in;
    transition: opacity 200ms ease-in; /* анимация перехода */
    pointer-events: none; /* элемент невидим для событий мыши */
    margin: 0;
    padding: 0;
}

/* при отображении модального окно */
.modal:target {
    opacity: 1; /* делаем окно видимым */
    pointer-events: auto; /* элемент видим для событий мыши */
    overflow-y: auto; /* добавляем прокрутку по y, когда элемент не помещается на страницу */
}

/* ширина модального окна и его отступы от экрана */
.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 500px;
        margin: 30px auto; /* для отображения модального окна по центру */
    }
}

/* свойства для блока, содержащего контент модального окна */
.modal-content {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    outline: 0;
}

@media (min-width: 768px) {
    .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
        box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    }
}

/* свойства для заголовка модального окна */
.modal-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #eceeef;
}

.modal-title {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 1.25rem;
    font-weight: 500;
}

/* свойства для кнопки "Закрыть" */
.close {
    float: right;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    text-decoration: none;
}

/* свойства для кнопки "Закрыть" при нахождении её в фокусе или наведении */
.close:focus, .close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: .75;
}

/* свойства для блока, содержащего основное содержимое окна */
.modal-body {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 15px;
    overflow: auto;
}